/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .dom-blog-img {
      max-width: 400px;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {

  nav li{
    display:inline-block;
  }


/* Larger than desktop */
@media (min-width: 1000px) {

  figure.boxify {
    float: left;
    margin: 0 20px 20px 0;
  }

  figure.box-model {
    float: right;
    margin: 0 0 20px 20px;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
