/*********************************
 General
*********************************/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}


.wrapper, 
footer {
  text-align: center;
}

a{
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

img {
  max-width:100%;
}


/*********************************
 Header
*********************************/

header{
  border-bottom: 2px solid black;
  height: 246px;
}


h1 {
  padding: 20px 0 0;
  font-size: 2em;
  margin: 0;
}

h1,
section h3 {
  font-family: 'Lobster', cursive;
}


/*********************************
 Nav-Bar
*********************************/

.no-bullets {
  list-style-type: none;
}

nav {
  padding-top: 15px;
  border-top: 2px solid black;
  text-align: center;
}

nav li {
  display: inline-block;
  width: 50px;
  margin: 0 30px 10px 0;
  font-weight: bolder;

}



/*********************************
 Main Element
*********************************/


section {
  padding: 10px 0 20px;
  min-height: calc(100vh - 369px);
}

section h3{
  margin: 15px 0;
  font-size: 1.5em;

}

section h4, h5{
  margin: 15px 0;
  text-decoration: underline;
}

section p, 
li{
  margin-bottom: 10px;
  line-height: 1.4;
}



/*********************************
 All Page Classes & IDs
*********************************/

.wrapper {
  padding: 0 5%;
  max-width: 1200px;
}

#sub-header{
  margin: 0 0 10px;
  padding-top: 20px;

}

.bio-pic {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid black;
  box-shadow: 6px 6px 0 rgba(85, 26, 139, .6);
}

/*********************************
 Classes & IDs
*********************************/

.blog-items {
  display: block;
  padding: 10px 0;
}

.blog-pics {
  display: block;
  max-width: 350px;
  margin-bottom: 30px;
}

.blog-pics,
.container li img {
  border: 4px solid #551A8B;
}

.contact-details {
  padding-top: 15px;
  color: #551A8B;
  font-weight: bold;
}

.fav-movies-header {
  border-top: 4px solid #FA8708;
  padding-top: 20px;
}

.social-icon{
  width: 30px;
  height: 30px;
  margin: 25px 5px;
}

.wishlist {
  padding-left: 0;
  list-style-position: inside;
  color: #551A8B;
}

/*********************************
 Flex-box
*********************************/

.container {
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  overflow: auto;
  border: 4px solid #551A8B;
  padding-top: 20px;
}

.container li{
  max-height: 184px;
  max-width: 300px;
  margin-bottom: 1.5em;
}

.container li img{
  max-width: 92%;
  border: 2px solid #551A8B;
  border-radius: 10%;
}

#no-margin {
  margin-bottom: -20px;

}

/*********************************
 Footer
*********************************/

footer{
  border-top: 2px solid black;
}

footer p{
  font-size: .8em;
  padding: 0 0 20px;
}

/*********************************
 Colors
*********************************/

header, 
footer {
  background: #FA8708;
}

nav{
  color: #551A8B;
}

nav #selector {
  color: #CFD74E;
}

section{
  background: #CFD74E;

}


/*********************************
 Slide transition
*********************************/

/*.photo {
  position: relative;
  overflow: hidden;
}

.slide .photo-overlay,
.slide img {
  transition: transform .6s ease-out;
}

.slide .photo-overlay {
  transform: translateX(-100%);
}

.slide:hover .photo-overlay {
  transform: translateX(0);
}

.slide:hover img {
  transform: translateX(100%);

}*/




